
@{
    ViewData["Title"] = "";
}

<div style="display: flex;justify-content: center; align-items: center;height: 60vh; color:red">

    <h1 class="display-4">Bạn không có quyền vào chức năng này!</h1>

</div>


