@model SV20T1020056.Web.Models.Person
@{
    ViewBag.Title = "Create Person";
}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Test/Save" method="post">
            <div class="form-group">
                <label>Person name:</label>
                <input type="text" class="form-control" name="Name" value="@Model.Name">
            </div>
            <div class="form-group">
                <input type="hidden" name="BirtDate" value="@Model.BirtDate">
                <label>BirtDate:</label>
                <input type="text" name="orderTime" class="form-control daterange-picker" placeholder="" />
                <input type="text" class="form-control" name="BirtDay" value="@Model.BirtDate.ToString("dd/MM/yyyy", new System.Globalization.CultureInfo("en-GB"))">
            </div>

            <div class="form-group">
                <label>Salary:</label>
                <input type="text" class="form-control" name="Salary" value="@Model.Salary">
            </div>
            <div class="from-group text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy"> </i>
                    Lưu dữ liệu
                </button>
                <a href="~/Home/index" class="btn btn-default">Quay lại</a>
            </div>
        </form>
    </div>
</div>

